body {
box-sizing: border-box;
}

.header {
display: flex;
align-items: center;
justify-content: space-between;
}

.top-section {
display: flex;
flex-direction: column;
}

.top-wrapper {
display: flex;
}

ul {
list-style-type: none;
display: flex;
gap: 16px;
}




a {
    text-decoration: none;
    /* color: white; */
}