body {

}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right {

}

.left {
    
   
}

ul {
list-style-type: none;
display: flex;
gap: 16px;
}




a {
    text-decoration: none;
    /* color: white; */
}