body {
 box-sizing: border-box;
}

ul {
list-style-type: none;
    display: flex;

}
.top-wrapper {
 background: color #1f2937; ;
}

.header-wrapper {
  display: flex;
  gap: 12px;

}

a {
    text-decoration: none;
    color: white;
}